:root{
    --headercolor: #001449;
    --maincolor: #012677;
    --footercolor: #120907;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

header{
    width: 100vw;
    height: 80px;
    background-color: var(--headercolor);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

header img{
    height: 80px;
}

header nav{
    width: 80%;
}

header .links{
    font-size: 1.7rem;
    display: flex;
    justify-content: flex-end;
}

header .links li{
    padding-bottom: 3px;
    margin-left: 50px;
    list-style: none;
    cursor: pointer;
    text-align: center;
}

header .links li:hover{
    border-bottom: solid white;
    padding: 0%;
    transition: .13s;
}

header .button{
    margin: 0 20px;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: none;
}

header .button:hover{
    border: solid white;
    transition: .1s;
}

main{
    background-color: var(--maincolor);
    width: 100vw;
    font-size: 1.6rem;
    padding: 30px;
}

main .about-us{
    display: flex;
}

main .about-us p{
    margin-top: 50px;
}

main .about-us img{
    margin-left: 50px;
}

main .about-us .article-about-us{
    width: 50%;
}

